# Tailwindcss
TW_WIDGET_COLORS=red|orange|amber|yellow|lime|green|emerald|teal|cyan|sky|blue|indigo|violet|purple|fuchsia|pink|rose
TW_WIDGET_COLOR=sky

# Sesión
SESSION_SECRET=

# JWT
JWT_SECRET=

# Bcrypt
SALT_ITERATIONS=10 # default: 10

# Restricciones de contraseñas
PASSWORD_MIN_LENGTH=8

# MySQL
DEVELOPMENT.DB_HOST=
DEVELOPMENT.DB_USER=
DEVELOPMENT.DB_PASSWORD=
DEVELOPMENT.DB_PORT=
DEVELOPMENT.DB_NAME=

PRODUCTION.DB_HOST=
PRODUCTION.DB_USER=
PRODUCTION.DB_PASSWORD=
PRODUCTION.DB_PORT=
PRODUCTION.DB_NAME=